@import "index.css";

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 40px 20px;
    background-color: var(--black0);
}

article > h1 {
    color: var(--white);
}

article > div {
    width: 200px;
    transform: translateY(-20px);
    height: 5px;
}

article > input {
    width: 60vw;
    max-width: 600px;
    font-size: 20px;
    padding: 12px;
    padding-left: 52px;
    background-image: url("../assets/pictograms/Icons/search-line.svg");
    background-repeat: no-repeat;
    background-position: 14px 50%;
    background-size: 24px 24px;
    border: none;
    border-bottom: solid 0px var(--yellow0);
    transition: .4s;
    outline: none;
    color: var(--black0);
}
article > input:focus {
    transition: .4s;
    border-bottom: solid 4px var(--yellow0);
}
::placeholder {
    color: var(--black4);
}